/* BLUE     rgb(61,178,255) */
/* BEIGE    rgb(255,23,218) */
/* ORANGE   rgb(255,184,48) */
/* RED      rgb(255,36,66)  */
/* font-family: 'Arvo', serif; */
/* font-family: 'Monoton', cursive; */
/* font-family: 'Roboto Condensed', sans-serif; */


html {
    font-size: 16px;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

nav {
    display:block;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid rgb(40, 211, 71);
    background-image: url('../images/navBackground.jpg');
    background-size: 100%;

}

.navLinks {
    /* background-color: black; */
    overflow: hidden;
    padding: 0 0 20px 0;
    text-decoration: none;
}

.navLinks li {
    float: left;
    color: white;
    text-align: center;
    padding: 5px 0.75rem;
    margin: 0 0.75rem;
    list-style: none;
    background-color: rgba(0,0,0,0.7);
    border-radius: 0.75rem;
    font-family: Arvo;
}

main {
    background-image: url('../images/mainBackgroundLandscape.jpg');
    background-size: 100%;
}

.mainContainer {
    background-color: rgba(255,255,255,0.8);
}

.mySkills {
    display: flex;
    flex-direction: column;
}

.skillContainer {
    display: flex;
    align-self: center;
    min-width: fit-content;
    width: 50%;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.8);
    border-radius: 15px;
    margin: 10px;
    padding: 10px 1rem;
}

.skillContainer div {
    padding: 5px 10px;
    box-shadow: 2px 2px 2px black;
    border-radius: 10px;
}

.pastThings {
    display: flex;
    justify-content: space-between;
}

.aboutMe {
    border: 2px dashed plum;
}

#aboutTextBox {
    display: none;
}

.projects {
    display:flex;
    border: 2px dashed rgb(25, 135, 36)
}

.projectContainer {
    display: flex;
    justify-content: center;
}

.projectContainer div {
    list-style: none;
    text-align: center;
    padding: 5px 10px;
}

footer {
    display: flex;
    width: 100%;
    background-image: url('../images/contactBackground.jpg');
    background-position: center;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.3);
    width: 100%;
}

.certificateContainer {
    width: 100%;
    display: flex;
    justify-content: center;

}

.certificates {
    background-color: rgba(0,0,0,0.7);
    font-size: 2rem;
    height:fit-content;
    color: white;
    border-radius: 10px;
    padding: 0px 1rem;
    margin: 10px 0px;
}

.contactWidgets {
    display:flex;
    justify-content: center;
    margin: 0px;
}

.widgetContainer {
    display: flex;
    justify-content: space-between;
    min-width: fit-content;
    width: 50%;
    background-color: rgba(0,0,0,0.7);
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 10px 1rem;
}

.widgetContainer div {
    display: flex;
    /* padding: 0px 5px; */
    /* margin: 10px 50px; */
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
}

